$primary: #368b85;
$secondary: #d82148;
$danger: #d82148;
$white: #fafafa;
$black: #464660;
$light: #e5e5e5;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/offcanvas";

body {
  font-family: "poppins";
  background-color: #e5e5e5;
}
.body-sign-up {
  background-color: #368b85;
  overflow: hidden;
}
.home {
  background-color: #368b85;
  height: 100%;
  padding-top: 1rem;
}
.nav-link {
  color: #f5f5f5;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  z-index: 1030;
}
.btn {
  --bs-btn-padding-x: 2rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 300;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: 30px;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(241, 233, 229, 0.15), 0 1px 1px rgba(70, 70, 96, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.btn-dark {
  --bs-btn-bg: #464660;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: #368b8585;
  --bs-dropdown-link-hover-bg: #368b8540;
}

.nav-item {
  padding: 0 1rem;
}

.img-wrapper {
  justify-content: center;
  width: 100%;
  height: 100vh;
  .img-hero {
    width: 70%;
  }
  .img-about {
    width: 100%;
    height: 100%;
  }
}
.login-btn {
  letter-spacing: 3px;
}
#logout-btn {
  display: none;
}
.brd {
  border-radius: 30px;
}

.myCard {
  max-height: 300px;
  width: 300px;
}
.btn-product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.available {
  background-color: #d82148;
  color: #f1e9e5;
  padding: 0 1rem;
  border-radius: 20px;
}
.img-wrapper-product {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
}
.img-product {
  object-fit: contain;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  right: 0;
  left: auto;
  display: block;
  width: 200px;
  height: auto;
}

.wrapper-item {
  border-style: solid;
  border-width: 2px;
  border-color: #368b85;
  border-radius: 10px;
}

// Hamburger Menu Start
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
#menu__toggle:checked ~ .menu__overlay {
  visibility: visible;
  right: 0;
}
.menu__overlay {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  opacity: 40%;
  z-index: 1;
}
.hamburger-menu {
  display: none;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 99;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $white;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: $white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  z-index: 2;
  border-radius: 30px 0 0 30px;
}
.menu__box ul li {
  display: block;
  padding: 12px 24px;
}
.menu__box li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #393e46;
}
.menu-login {
  background-color: $primary;
  font-weight: 300;
  font-size: 20px;
  max-width: 100%;
  height: 30%;
  border-radius: 30px 0 0 0;
  .user-wrap {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }
  .user-info {
    display: inline-flex;
  }
}

.nav-item a img {
  margin-right: 1rem;
  width: 10%;
}
#logoutBtn_mobile {
  width: 80%;
  letter-spacing: 3px;
}
#loginBtn_mobile {
  letter-spacing: 3px;
}
.menu__box li:hover {
  background-color: #368b8580;
}
// Hamburger Menu End

@media screen and (max-width: 992px) {
  .menu-item li,
  .nav,
  .login-btn,
  #hello {
    display: none;
  }
  .hamburger-menu,
  #logout-btn {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .logo-brand {
    height: 30px;
  }
  .hero .container .row {
    flex-direction: column-reverse;
  }
  .img-wrapper {
    margin-top: 1rem;
    height: auto;
  }
  .hero .container {
    margin-top: 60px;
  }
  .title {
    text-align: center;
  }

  .about {
    .about-btn {
      width: 100% !important;
    }
    .row {
      margin: 0;
    }
  }
}

// .dropdown:hover .dropdown-menu {
//   right: 0;
//   left: auto;
//   display: block;
//   margin-top: 0; // remove the gap so it doesn't close
// }

// mouse
